
#body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #8EC5FC;

}

h1 {
    color:cornsilk;
}

#main_body{
    height: 100vh;
    width: 100vw;
}

#left {
    float: left;
    height: 100vh;
    width:30vw;
    display: flex;
    align-items:center;
    justify-content:center;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #8EC5FC 100%);
}

#abt_me_image{
    height: 50vh;
    margin: 50px;
}

#right {
    float: right;
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC, #8EC5FC 100%);
    height: 100vh;
    width:70vw;
    text-align: left;
}

#right_info{
    margin:30px;
    line-height: 20px;
    width: 40vw;
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    animation: yourAnimation 1s linear 0s 1 normal none;
}

#right_info p{
    font-size: 20px;
    color: cornsilk;
    font-weight: bold;
}

.social{
    height:30px;
    transition: 0.1s ease-in-out;
}

.social:hover{
    transform: scale(1.2);
}