@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');

@media (max-width:450px){
    .maincontent{
      background-color: white;
      color:black;
    }
    .sidenav{
      display:none;
    }
    .edit-profile{
      border-radius: 10px;
      background-color: #d4d2d2;
      border-color: #d4d2d2;
      color:white;
      font-size: 15px;
      width:25%;
      height:3%;
      position:absolute;
      bottom:17%;
      left:50%;
      transform: translate(-50%);
    }
    .delete-account{
      width:50%;
      background-color: red;
      color:white;
      border-color: red;
      border-radius:10px;
      font-size: 15px;
      position:absolute;
      left:50%;
      height:3%;
      bottom:10%;
      transform: translate(-50%);
    }
    
    .profileform{
      font-family: 'Kanit', sans-serif;
      font-size:20px;
      color:black;
      
    }
    .user-icon{
      width:15%;
      height:15%;
      border-radius:100%;
    }
    .edit-title{
      font-size: 160%;
      font-family: 'Kanit', sans-serif;
      background-color: cyan;
      display:flex;
      margin-top:0px;

    }
    .change-profile-photo{
      font-family: 'Kanit', sans-serif;
      margin-bottom: 3em;
      font-size: 70%;
    }
    .name-field{
      display:flex;
      margin-left: 20%;
      margin-top:1em;
    }
    .box{
      border-radius: 10px;
      padding:5px;
      width: 40%;
      display:block;
      margin:auto;
    }
    .Cancel{
      margin-left: 0.2em;;
    }
    .edit{
      position: absolute;
      left:50%;
      transform: translate(-50%);
      
    }
    .icon{
      width:20%;
      float:left; 
      margin-left:5%;   
    }
    .iconwithfollower{
      display:flex;
      justify-content: space-between;
    }
    .follower_mobile{
      display: inline-block;
      width:20%;
      text-align: center;
      margin-top: 1em;
      font-weight: bold;
    }
    .definition_mobile{
      display: inline-block;
      width:20%;
      text-align: center;
      font-weight: bold;
    }
    
    .Parent{
      color:black;
    }
    .post_mobile{
      position:relative;
      background-color: transparent;
      border:none;
      left:35%;
      font-size: 90%;
      font-family: 'Kanit', sans-serif;

    }
    
    .post_message{
      width:400px;
      height:150px;
      border-radius:10px;
      margin-bottom:3.5em;
    }
    .upload_image_mobile{
      margin-bottom:3em;      
    }

    .preview_image{
      width:250px;
      height:250px;
      margin:auto;
    }
    .preview_mobile{
      border: 1px solid black;
      width:200px;
      height: 200px;
      margin:auto;

    }
    .post_list{
      margin:auto;
    }
    .post_list_image{
      width:200px;
      height:200px;
    }
    .caption_mobile{
      margin-top:0px;
    }
    .profile_picture_mobile{
      width:20%;
      margin-top: 3em;
    }
    .username{
      margin-top:15%;
      margin-bottom: 5%;
      font-size:20px;
      font-weight: bold;
    }
    .user_information{
      float:left;
      margin-left:5%;
      text-align: left;
      margin-bottom:1em;
    }
    .Edit_profile_personal{
      display: block;
      margin:auto;
      width:95%;
      border-radius: 5px;
      border:1px solid black;
      background:white;
      font-size: 15px;

    }
    .make_post_personal{
      position:absolute;
      bottom:3%;
      left:50;
      transform: translate(-50%);
    }
    .post_table{
      display:grid;
      grid-template-columns: repeat(3,1fr);
      grid-gap:10px;
      position:relative;
      
    }
    
    .image-cell{
      display:flex;
      justify-content: center;
      align-items: center;
    }
    .image-cell img{
      width: 130px;
      height: 130px;
      max-width: 100%;
      object-fit:cover;
      
    }
    .blank-line{
      height:1em;
      background-color: white;
    }
    
}