/* Profile Page */
.blankProfileImage{
    height: 25vh;
    border-radius: 100%;
}

/*login signup*/
#loginMain{
    text-align: center;
}

.input-box-white {
  display: block;
    width: 80%;
    margin: 20px;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    background-color: var(--color-gunmetal);
    color: #fff;
}

/* Upload post */
#createPostMain{
    text-align: center;
}

#createPostHolder{
    background-color: #3D4554;
    margin:5%;
    border-radius: 1%;
    text-align: left;
    padding: 20px;
}

#NewPostImage{
    width: 100%;
    height: 100%;
}

#newVideoPreview{
    width: 100%;
    height: 100%;
}

.uploadLogo{
    height: 200px;
    width: 200px;
    text-align: center;
    cursor: pointer;
}

/* user posts */
#userPostsMain{
    text-align: center;
    width: 100vw;
    min-height: 100vh;
    max-height: fit-content;
}

/*posts*/
.post{
    border-radius: 1%;
    width: 60%;
    background-color: #3D4554;
    height: 300px;
    text-align: left;
    padding: 20px;
    float: right;
    margin: 5px;
    position:relative;
}

.imagePostLeft{
    width: 39%;
}

.videoPostLeft{
    width: 39%;
}

.postVideo{
    border-radius: 5%;
    height: 300px;
}

.postImage{
    border-radius: 5%;
    height: auto;
    width: fit-content;
    max-width: stretch;
    height: 300px;
}

.postCaption{
    background-color: #225578;
    width: 60%;
    border-radius: 10px;
    float: right;
    height: stretch;
}

#userPostProfile{
    float: left;
    width: 30%;
    height: fit-content;
    background-color: #3D4554;
    border-radius: 2%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
    
}

.profilePictureCircle{
    height: 50px;
    width: 50px;
    border-radius: 100%;
}

/* Home feed */
#homeFeedHeader{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #23282E;
    top:0;
    display: flex;
    align-items: center;
    justify-content: right;
}

.homePostImage{
    height: 200px;
    width: stretch;
    margin: 10px;
    border-radius: 20px;
    text-align: left;
}

.homeFeedProfilePicture{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

/* Home feed */
#homeFeedHeader{
    position: fixed;
    height: 80px;
    width: 100%;
    background-color: #23282E;
    top:0;
    display: flex;
    align-items: center;
    justify-content: right;
}

#homeFeed{
    margin-top: 80px;
}

.homePost{
    min-height: 500px;
    height: fit-content;
    width: 400px;
    background-color: #5F6A82;
    border-radius: 20px;
    display: inline-block;
    margin: 5px;
    text-align: left;
}

.homePostImage{
    height: 200px;
    width: stretch;
    margin: 10px;
    border-radius: 20px;
    text-align: left;
}

.homeFeedProfilePicture{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}

.HomePostVideo{
    height: 200px;
    width: stretch;
    margin: 10px;
    border-radius: 20px;
    text-align: left;
}

.edit_post{
    display:block;
    float:right;
    margin-top: 0.5em;
}
.delete_account{
  color: red;
  display:block;
  float:right;
  margin-top: 0.5em;
  margin-right: 20px;
}

.delete_post_desktop{
    width:2%;
    height:4%;
    position:absolute;
    bottom:2px;
    right:0;
    transform: translate(-50%,0%)
    
}
@media (min-width:451px){
    .friendname{
        font-size: 20px;
        display:inline-block; 
        vertical-align: middle; 
        margin-right: 10px;
    }
    .friendpicture{
    height: 30px;
    width: 30px;
    border-radius: 100%;
}
    /* Friends page */
#friendPageMain{
    margin-top: 40px;
    /*min-height: 100vh;
    width: 100vw;*/ /*need to be tested in different size of screen, looks better if remove this.*/
    padding: 10px;
}


#friendStatusBody{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.friendMenu:hover{
    cursor: pointer;
    text-decoration: underline;
}

/* Navabar */
#navbarOwnMain {
    width: 100vw;
    height: 50px;
    background-color: #282c34;
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  
  .navbarIcon {
    cursor: pointer;
    margin-right: 10px;
    transition: 0.1s ease-in-out;
    vertical-align: middle
  }

  .navbarIcon:hover{
    transform: scale(1.1);
  }

  .edit_friend:hover{
    transform: scale(1.1);
  }

  .close{
    position: absolute;
    top:6px;
    right:6px;
  }
  
  .close:hover{
    color: black;
    cursor: pointer;
  }

  .Unfriend {
    background-color: gray;
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin-right:15px;
    margin-left: 15px;
    vertical-align: middle;
  }
  
  .Unfriend:hover {
    background-color: #4f574f;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }

  .Block {
    background-color: red;
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
  }
  
  .Block:hover {
    background-color: #8B0000;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }

  .unblock {
    background-color: green;
    border: none;
    color: white;
    padding: 8px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
  }

  .unblock:hover {
    background-color: #20db59;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }

  .search{
    background-color: rgb(61, 117, 132);
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    
  }

  .search:hover{
    background-color: #24118e;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }

.searchBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 4px;
    transition: all 0.3s ease;
    margin-top: 20px;
    width:30vw;
    margin-left: 35%;
  }
  
  .searchBoxContainer input[type="text"] {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
  }
  .searchbox{
    width:5vw;
  }
  .ConfirmMessage{
    color:white;
    text-align:center;
    font-size:15px;
  }
  .navbartable{
    margin: 0;
    border-Collapse: collapse; 
    float: right;
  }

  .Search{
    margin-top: 5em;;
  }
}
  @media (max-width:450px){
    .friendname{
        font-size: 20px;
        display:inline-block; 
        vertical-align: middle; 
        margin-right: 10px;
    }
    .friendpicture{
        height: 40px;
        width: 40px;
        border-radius: 100%;
    }
    /* Friends page */
#friendPageMain{
    margin-top: 40px;
    /*min-height: 100vh;
    width: 100vw;*/ /*need to be tested in different size of screen, looks better if remove this.*/
    padding: 10px;
}

#searchBoxContainer{
    display:flex;
    justify-content: center;
    align-items: center;
    margin-top: 10%;
}

#friendStatusBody{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.friendMenu:hover{
    cursor: pointer;
    text-decoration: underline;
}


/* Navabar */
#navbarOwnMain {
    width: 100vw;
    height: 50px;
    color:white;
    background-color: #282c34;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .navbarIcon {
    cursor: pointer;
    margin-right: 10px;
    transition: 0.1s ease-in-out;
    vertical-align: middle;
    width:30px;
    height:30px;
  }

  .navbarIcon:hover{
    transform: scale(1.1);
  }

  .edit_friend:hover{
    transform: scale(1.1);
  }

  .close{
    position: absolute;
    top:6px;
    right:6px;
  }
  
  .close:hover{
    color: black;
    cursor: pointer;
  }

  .Unfriend {
    background-color: gray;
    border: none;
    color: white;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    margin-right:15px;
    margin-left: 15px;
    vertical-align: middle;
  }
  
  .Unfriend:hover {
    background-color: #4f574f;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }

  .Block {
    background-color: red;
    border: none;
    color: white;
    padding: 10px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
  }
  
  .Block:hover {
    background-color: #8B0000;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }

  .unblock {
    background-color: green;
    border: none;
    color: white;
    padding: 12px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    border-radius: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
  }

  .unblock:hover {
    background-color: #20db59;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }
  .search{
    background-color: rgb(61, 117, 132);
    border: none;
    color: white;
    padding: 8px 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 50px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    vertical-align: middle;
    
  }

  .search:hover{
    background-color: #24118e;
    box-shadow: 0px 12px 20px rgba(0, 0, 0, 0.3);
  }

.searchBoxContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    border-radius: 20px;
    padding: 4px;
    transition: all 0.3s ease;
    margin-top: 20px;
    width:80vw;
    margin-left: 10%;
  }
  
  .searchBoxContainer input[type="text"] {
    border: none;
    outline: none;
    flex: 1;
    font-size: 16px;
  }
  .searchbox{
    width:5vw;
  }
  .ConfirmMessage{
    color:white;
    text-align:center;
    font-size:15px;
  }
  .friendMenu{
    font-size: 0.8em;
  }
  .navbartable{
    width:100vw;
  }
  }