@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

#body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: white;
}

h1 {
    color:black
}

#main_body{
    height: 100vh;
    width: 100vw;
}

#left {
    float: left;
    height: 100vh;
    width:30vw;
    display: flex;
    align-items:center;
    justify-content:center;
    background: linear-gradient(to left, #ffe4c4, #ffffff);
}

#abt_me_image{
    height: 50vh;
    margin: 50px;
}

#right {
    float: right;
    background: linear-gradient(to right, #ffe4c4, #ffffff);
    height: 100vh;
    width:70vw;
    text-align: left;
}

#right_info{
    margin:30px;
    line-height: -20px;
    width: 40vw;
    position: absolute;
    top: 45%;
    left: 60%;
    transform: translate(-50%, -50%);
    font-family: 'Roboto', sans-serif;
    animation: yourAnimation 1s linear 0s 1 normal none;
}

#right_info p{
    font-size: 20px;
    color: black;
}

.social{
    height:20px;
    transition: 0.1s ease-in-out;
}

.social:hover{
    transform: scale(1.2);
}